/*

Maxui - Bootstrap 4 Based Mobile Template
Author : aStylers
Author URL : https://themeforest.net/user/astylers

*/

/*

Table of Content:
- general
- image
- form
- switch or toggle
- placeholder
- grid system
- text style
- icon custom sytle
- shadow
- content box
- feature list
- link buy wrapper
- footer
- social media icon
- background color & color
- social media color
- separator
- divider line
- section title
- page wrapper
- navbar
- sidebar left
- toolbar bottom
- list view
- accordion
- button default
- cards
- swiper slider
- pagination
- popup or modal
- tabs or nav tabs
- timeline
- about us
- faq
- forum
- gallery
- maintenance
- profile
- reset password
- search bar
- sign in & sign up
- settings
- privacy
- chat
- coming soon
- contact us

*/

/* variable */

/* general */
body {
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    color: #333;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
}

h5 > p {
    margin-bottom: 20px;
}

h6 {
    font-size: 16px;
}

a {
    color: #333;
}

a:focus {
    outline: 0;
}

a:hover {
    color: #333;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

/*unordered list wrap for badges*/
.unordered-list-wrap ul li {
    display: inline-block;
    margin-right: 10px;
}

p {
    margin: 0;
}

.title-name {
    overflow: hidden;
}

/* image */
img {
    display: block;
}

/*mask*/
.mask {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
}

/* form */
input {
    width: 100%;
    height: 42px;
    background: #eee;
    border-radius: 4px;
    border: 0;
    padding: 2px 15px;
    font-size: 14px;
}

textarea {
    width: 100%;
    border-radius: 4px;
    border: 0;
    padding: 15px;
    font-size: 14px;
}

.input-wrap {
    margin-bottom: 15px;
}

.input-wrap:last-child {
    margin-bottom: 0;
}

.custom-select {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background: #eee url("data:image/svg+xml,%3csvg xmlns=!string!width=!string!height=!string!viewBox=!string!%3e%3cpath fill=!string!d=!string!/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    border: 0;
    padding: 2px 15px;
    font-size: 14px;
    opacity: 1;
}

.form-fill input {
    background: #eee;
}

.form-fill .custom-select {
    background: #eee url("data:image/svg+xml,%3csvg xmlns=!string!width=!string!height=!string!viewBox=!string!%3e%3cpath fill=!string!d=!string!/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

.form-fill textarea {
    background: #eee;
}

.form-outline input {
    background: #fff;
    border: 1px solid #ddd;
}

.form-outline .custom-select {
    background: #fff url("data:image/svg+xml,%3csvg xmlns=!string!width=!string!height=!string!viewBox=!string!%3e%3cpath fill=!string!d=!string!/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ddd;
}

.form-outline textarea {
    background: #fff;
    border: 1px solid #ddd;
}

.form-icon-inset .input-wrap {
    display: flex;
    background: #eee;
    border-radius: 4px;
}

.form-icon-inset .input-file {
    display: flex;
    align-items: center;
}

.form-icon-inset .input-file i {
    font-size: 24px;
}

.form-icon-inset label {
    width: 40px;
    text-align: center;
}

.form-icon-inset [type="file"] {
    display: none;
}

/* switch or toggle */
.custom-control-input:checked ~ .custom-control-label::before {
    background: #fe2775;
    border-color: #fe2775;
}

.custom-control-input:checked ~ .custom-control-label::after {
    left: calc(-40px + 10px);
}

.custom-control-label::before {
    height: 20px;
    width: 40px !important;
    left: -40px !important;
}

.custom-switch .custom-control-label:before {
    border-radius: 20px;
}

.custom-switch .custom-control-label::after {
    width: calc(20px - 4px);
    height: calc(20px - 4px);
    left: calc(-40px + 2px);
}

/*placeholder*/
::-webkit-input-placeholder {
    color: #ddd !important;
}

::-moz-input-placeholder {
    color: #ddd !important;
}

::-ms-input-placeholder {
    color: #ddd !important;
}

/*radius*/
.radius-default {
    border-radius: 18px;
}

/*padding*/
.pd-default {
    padding: 15px;
}

/*grid system*/
.row {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 12px;
}

.row:last-child {
    margin-bottom: 0;
}

.row img {
    width: 100%;
    border-radius: 18px;
}

/*grid custom*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
}

/* text style */
.text-small {
    font-size: 13px;
}

.text-large {
    font-size: 18px;
}

.text-extra-large {
    font-size: 120px;
    font-weight: 900;
}

.text-weight-md {
    font-weight: 500;
}

/* icon custom style */
.ion-ios-add {
    font-size: 22px !important;
}

.ion-ios-close {
    font-size: 28px !important;
}

.ion-ios-checkmark {
    font-size: 28px !important;
    line-height: normal;
}

/* shadow */
.box-shadow {
    box-shadow: 0 2px 26px -6px rgba(0, 0, 0, 0.12);
}

/* image style for intro-app section on index.html */
.intro-app .intro-content {
    position: relative;
    height: 160px;
}

.intro-app img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.intro-app .caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
}

/* content box */
.content-box {
    background: #fff;
    padding: 15px;
    border-radius: 18px;
}

.box-border {
    border: 1px solid #e7e8ff;
}

/* content overlap */
.content-overlap {
    position: relative;
    top: -35px;
    width: 90%;
    margin: auto;
    margin-bottom: -35px;
}

/* feature list */
.feature-list .media-object i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    background: #ffeff5;
    font-size: 24px;
    color: #fe2775;
    margin-right: 15px;
    float: left;
}

.feature-list .media-object .text {
    overflow: hidden;
}

.feature-list .content {
    display: flex;
}

.feature-list .wrap-icon {
    align-self: center;
}

.feature-list .wrap-icon i {
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    margin-right: 15px;
}

/* link buy wrapper */
.link-buy-wrapper img {
    width: 70px;
}

/* footer */
.footer {
    text-align: center;
}

.made-by i {
    margin: 0 3px;
    color: #fe2775;
}

/* social media icon */
.social-media-icon {
    text-align: center;
}

.social-media-icon ul li {
    display: inline-block;
    margin: 0 5px;
}

.social-media-icon a i {
    font-size: 18px;
    color: #fff;
    background: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

/* social media icon style for about */
.socmed-for-about {
    background: #fff;
    padding: 5px 0;
    border-radius: 30px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.9);
}

.socmed-for-about li {
    margin: 0 8px !important;
}

.socmed-for-about li i {
    font-size: 24px;
    color: #fff;
    background: #fff;
    display: inline-block;
    text-align: center;
}

/* background color & color */
.bg-theme {
    background: #fe2775 !important;
}

.color-theme {
    color: #fe2775 !important;
}

.color-white {
    color: #fff;
}

.bg-succes {
    background: #1ad66c !important;
    color: #fff !important;
}

.color-succes {
    color: #1ad66c !important;
}

.bg-danger {
    background: #f44336 !important;
    color: #fff !important;
}

.color-danger {
    color: #f44336 !important;
}

.bg-secondary-only {
    background: #ffeff5 !important;
}

.bg-secondary {
    background: #ffeff5 !important;
    color: #fe2775 !important;
}

.bg-lightblue {
    background: #f5f3fd !important;
}

.bg-lightgreen {
    background: #e1ffe3 !important;
}

.bg-lightred {
    background: #ffeff5 !important;
}

.bg-my-chat {
    background: #eae5fb !important;
}

.bg-blue {
    background: #8b9aff !important;
}

.color-blue {
    color: #8b9aff !important;
}

.bg-red {
    background: #f7999a !important;
}

.color-red {
    color: #f7999a !important;
}

.bg-green {
    background: #6fd9d1 !important;
}

.color-green {
    color: #6fd9d1 !important;
}

.bg-yellow {
    background: #fdc87b !important;
}

.color-yellow {
    color: #fdc87b !important;
}

.bg-purple {
    background: #bd72e8 !important;
}

.color-purple {
    color: #bd72e8 !important;
}

.bg-orange {
    background: #f2876c !important;
}

.color-orange {
    color: #f2876c !important;
}

.bg-lime {
    background: #e8d272 !important;
}

.color-lime {
    color: #e8d272 !important;
}

/* social media color */
.ion-logo-facebook {
    color: #3b5999 !important;
}

.ion-logo-google {
    color: #dd4b39 !important;
}

.ion-logo-twitter {
    color: #55acee !important;
}

.ion-logo-instagram {
    color: #e4405f !important;
}

.ion-logo-linkedin-in {
    color: #0077B5 !important;
}

.ion-logo-whatsapp {
    color: #25D366 !important;
}

.ion-logo-youtube {
    color: #cd201f !important;
}

.ion-logo-pinterest {
    color: #bd081c !important;
}

.ion-logo-yahoo {
    color: #410093 !important;
}

.ion-logo-dribbble {
    color: #ea4c89 !important;
}

.ion-logo-skype {
    color: #00aff0 !important;
}

.bg-facebook {
    background: #3b5999 !important;
    color: #fff !important;
}

.bg-twitter {
    background: #55acee !important;
    color: #fff !important;
}

.bg-google {
    background: #dd4b39 !important;
    color: #fff !important;
}

.bg-instagram {
    background: #e4405f !important;
    color: #fff !important;
}

.bg-whatsapp {
    background: #25D366 !important;
    color: #fff !important;
}

.bg-linkedin {
    background: #0077B5 !important;
    color: #fff !important;
}

.bg-pinterest {
    background: #bd081c !important;
    color: #fff !important;
}

.bg-dribbble {
    background: #ea4c89 !important;
    color: #fff !important;
}

.bg-yahoo {
    background: #410093 !important;
    color: #fff !important;
}

.bg-skype {
    background: #00aff0 !important;
    color: #fff !important;
}

/* separator */
.separator-small {
    height: 15px;
}

.separator-medium {
    height: 20px;
}

.separator-large {
    height: 30px;
}

/* divider line */
.divider-line {
    height: 1px;
    margin: 30px 0;
    background: #ddd;
}

/* section title */
.section-title {
    margin: 0 15px 15px;
}

.section-subtitle {
    font-size: 13px;
    margin-top: 3px;
    display: inline-block;
}

.section-subtitle-content {
    font-size: 13px;
    display: inline-block;
}

.overline-title {
    font-size: 13px;
    font-weight: 400;
    color: #888;
    display: inline-block;
    margin-bottom: 5px;
}

.title-large h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
}

/* pricing table */
.pricing-number {
    font-size: 36px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fe2775;
}

.pricing-list ul li i {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

.ion-ios-checkmark-circle-outline {
    color: #6fd9d1;
}

.ion-ios-close-circle-outline {
    color: #f2876c;
}

/* page wrapper for index.html, features.html, apps.html, & pages.html */
.page-wrapper {
    /* padding: 60px 0 42px; */
    padding: 10px 0 42px;
}

/* pages wrapper for feature & page other */
.pages-wrapper {
    padding: 50px 0 30px;
}

/* pages wrapper for chat.html only */
.pages-wrapper-chat {
    padding-bottom: 62px !important;
}

/* navbar */
.navbar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    height: 50px;
    display: flex;
    align-content: center;
    padding: 0 15px;
}

.navbar::after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    background: #e7e8ff;
    z-index: 15;
    width: 100%;
    height: 1px;
}

.navbar.navbar-home {
    height: 60px;
}

.navbar.navbar-home::after {
    display: none;
}

.navbar .link {
    display: flex;
    font-size: 26px;
    height: 50px;
    align-items: center;
}

.navbar .link img {
    width: 34px;
    border-radius: 10px;
}

.navbar .title {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.navbar .title.title-home {
    font-size: 19px;
    color: #fe2775;
    font-weight: 700;
}

.navbar-default {
    position: relative;
    background: #eee;
}

.navbar-default::after {
    display: none;
}

.navbar-left-title .left {
    display: flex;
    align-items: center;
}

.navbar-left-title .title {
    margin-left: 15px;
}

.navbar-left-title .right {
    display: flex;
}

.navbar-left-title .right .link:last-child {
    margin-left: 15px;
}

.navbar-highlight {
    background: #fe2775;
}

.navbar-highlight .link {
    color: #fff;
}

.navbar-highlight .title {
    color: #fff;
}

/* navbar for chat only */
.chat-user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}

.chat-user img {
    width: 30px;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 4px;
}

/*sidebar left*/
.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    z-index: 999;
    background: #fff;
    overflow-y: auto;
}

.sidebar .sidebar-header {
    background: #fff;
    height: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.sidebar .sidebar-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.sidebar .sidebar-header .text {
    overflow: hidden;
}

/*sidebar overlay*/
.menu-open .side-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
}

/* toolbar bottom */
.toolbar-bottom {
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 42px;
    border: 0;
    z-index: 600;
    padding: 0 10px;
}

.toolbar-bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background: #e7e8ff;
    z-index: 15;
    width: 100%;
    height: 1px;
}

.toolbar-wrap {
    display: flex;
}

.toolbar-item {
    width: 100%;
}

.toolbar-link {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #ccc;
    transition: .2s ease-in-out;
}

.toolbar-link .icon {
    font-size: 22px;
    height: 28px;
    line-height: 28px;
}

.toolbar-link .toolbar-label {
    font-size: 11px;
}

.toolbar-link.toolbar-link-active {
    color: #fe2775;
}

.toolbar-link:hover {
    color: #fe2775;
}

.toolbar-variant {
    position: relative;
    background: #ffeff5;
}

.toolbar-variant::before {
    display: none;
}

/*list view*/
.list-view .list-item {
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.list-view .list-item .list-media {
    padding-right: 15px;
}

.list-view .list-item .list-media i {
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    text-align: center;
    color: #fe2775;
    background: #ffeff5;
    display: inline-block;
}

.list-view .list-item .list-media.media-circle i {
    border-radius: 50%;
}

.list-view .list-item .list-label {
    min-height: 46px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 15px;
}

.list-view .list-item .list-label .list-title {
    font-size: 16px;
    color: #333;
}

.list-view .list-item .list-label .list-after {
    margin-left: auto;
}

.list-view .list-item .list-label .list-after .list-after-text {
    margin-right: 15px;
}

.list-view .list-item .list-label .list-after i {
    font-size: 16px;
    color: #888;
}

.list-border {
    position: relative;
}

.list-border ul:before {
    content: '';
    background: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 1px;
    width: 100%;
}

.list-border ul::after {
    content: '';
    background: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.list-border li:last-child .list-label::after {
    display: none;
}

.list-border .list-label {
    position: relative;
}

.list-border .list-label::after {
    content: '';
    background: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.border-full-width ul::after {
    display: none;
}

.border-full-width ul li {
    position: relative;
}

.border-full-width ul li::before {
    content: '';
    background: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.border-full-width .list-item .list-label::after {
    display: none;
}

.list-separate ul li {
    margin-bottom: 12px;
}

.list-separate .list-item {
    border: 1px solid #ddd;
    margin: 0 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.list-separate .list-item:last-child {
    margin-bottom: 0;
}

.list-separate-two li:last-child {
    margin-bottom: 0;
}

.list-separate-two li:last-child a.list-item {
    margin-bottom: 0;
}

.list-separate-two .list-item {
    margin-bottom: 10px;
    padding: 0 15px;
}

.list-separate-two .list-item .list-media i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 22px;
}

.list-separate-two .list-label {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 15px;
}

.list-colored .list-item .list-media i {
    color: #fff;
}

/*list view for pricing-table.html */
.list-pricing .list-item {
    justify-content: center;
}

.list-pricing .list-item .list-media {
    padding: 0;
}

.list-pricing .list-item .list-media .ion-ios-checkmark {
    background: #fe2775;
    color: #fff;
}

.list-pricing .list-item .list-media .ion-ios-close {
    background: #ffeff5;
    color: #888;
}

.list-pricing .list-item .list-media .ion-ios-arrow-dropright-circle {
    background: #fe2775;
    color: #fff;
}

/*----- FEATURES -----*/

/*accordion*/
.accordion .accordion-item .accordion-title {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    background: #fe2775;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    cursor: pointer;
    display: flex;
}

.accordion .accordion-item .accordion-body .accordion-content {
    padding: 15px;
}

.accordion .accordion-item .accordion-after {
    margin-left: auto;
}

.accordion-title.collapsed .accordion-after i::before {
    content: '';
}

.accordion-inset {
    margin: 0 15px;
}

.accordion-inset .accordion-item {
    margin-bottom: 10px;
}

.accordion-inset .accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-inset .accordion-title {
    border-radius: 4px;
}

.accordion-inset .accordion-content {
    padding: 15px 0 !important;
}

/* button default */
.button {
    background: #8998ff;
    border-radius: 4px;
    padding: 0 12px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: none;
    margin-top: 20px;
    border: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.button i.icon-left {
    margin-right: 3px;
}

.button i.icon-right {
    margin-left: 3px;
}

a.button:hover {
    color: #fff;
}

a.button-outline:hover {
    color: #8998ff;
}

.wrap-button .button {
    width: auto;
}

.button-light {
    background: #fff;
    color: #8998ff;
}

/*button variant*/
.button-variant .button {
    margin-top: 0;
}

.button-outline {
    background: #fff;
    border: 1px solid #8998ff;
    color: #8998ff;
}

.button-rounded {
    border-radius: 20px;
}

.button-small {
    line-height: 30px;
    font-size: 13px;
    padding: 0 8px;
}

.button-large {
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
}

.button-icon {
    width: 42px;
    text-align: center;
    background: #8998ff;
    border-radius: 4px;
    color: #fff;
    height: 42px;
    line-height: 42px;
}

.button-icon i {
    font-size: 38px !important;
}

.button-icon.button-send {
    background: #eee;
}

.button-icon.button-send i {
    font-size: 24px !important;
    color: #8998ff;
}

/*cards*/
.card {
    border-radius: 18px;
    border: 0;
    background: #f5f3fd;
}

.card-outline {
    border: 1px solid #ddd;
    background: transparent;
}

.card.bg-lightblue {
    border: 0;
}

.card-body {
    padding: 15px;
}

.card-date {
    margin-top: 10px;
    color: #fe2775;
    font-weight: 500;
    font-size: 13px;
}

.card-date i {
    margin-right: 5px;
}

.card-highlight {
    background: #fe2775;
    border: 0;
}

.card-highlight .card-body {
    color: #fff;
}

.card-highlight .card-body .card-title {
    color: #fff;
}

.card-highlight .card-body .card-date {
    color: #fff;
}

.card-img {
    width: 100%;
    border-radius: 18px 18px 0 0;
}

.card-title-small {
    font-size: 16px;
}

.card-title-large {
    font-size: 20px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #fafafa;
}

.card-location {
    font-size: 12px;
    color: #fafafa;
    margin-top: 5px;
    font-weight: 400;
    margin-top: -8px;
}

.card-forum .card-title {
    margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
}

.card-forum .date {
    font-size: 12px;
}

.card-avatar-image {
    position: relative;
}

.card-avatar-image img {
    width: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.card-avatar-image .text {
    overflow: hidden;
}

.card-avatar-image .text .ion-ios-square {
    margin: 0 5px;
    color: #8998ff;
    font-size: 8px;
}

.card-avatar-image .title-name {
    font-size: 12px;
    font-weight: 500;
}

.bookmark-symbol {
    position: absolute;
    top: 0;
    right: 0;
}

.bookmark-symbol i {
    color: #888;
    font-size: 20px;
}

.card-list {
    padding: 0;
}

.card-list .card-body {
    padding: 0;
}

.card-list .card-title {
    line-height: 46px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0;
}

.card-list .card-list-item {
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.card-list .card-list-item .card-list-media img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-list .card-list-item .card-list-title {
    min-height: 46px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    font-size: 16px;
    color: #333;
    position: relative;
}

.card-list .card-list-item .card-list-title::after {
    content: '';
    background: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.card-list .card-list-item:last-child > .card-list-title::after {
    display: none;
}

.footer-card {
    min-height: 46px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.footer-card .card-date {
    margin-top: 0;
}

.footer-card .card-comment {
    margin-left: auto;
}

.footer-card .card-comment i {
    margin-right: 5px;
}

/*swiper slider*/
.swiper-container {
    padding: 0 15px;
}

.swiper-container .swiper-wrapper .swiper-slide .img img {
    width: 100%;
    border-radius: 18px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fe2775;
}

.swiper-style {
    padding: 30px 15px;
}

.swiper-style .swiper-slide {
    width: 125px;
}

.swiper-style .swiper-slide .content {
    position: relative;
    background: #fff;
    border-radius: 18px;
    padding: 15px;
}

.swiper-style .swiper-slide .info-statistic {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 700;
}

.swiper-style .swiper-slide .icon {
    margin-top: 25px;
}

.swiper-style .swiper-slide .icon i {
    font-size: 60px;
    display: inline-block;
}

.swiper-style-full .content {
    background: #eee;
    border-radius: 18px;
    padding: 20px;
}

.swiper-style-full .content h5 {
    margin-bottom: 10px;
}

.swiper-custom .swiper-slide {
    width: 125px;
}

.swiper-custom .swiper-slide .content {
    padding: 30px 15px 15px;
    border-radius: 18px;
}

.swiper-custom .swiper-slide .content h4 {
    margin-bottom: 25px;
}

.swiper-pricing .swiper-slide {
    width: 220px;
}

/*

.swiper-style {
.swiper-slide {
width: auto;
height: $h100;
}
.icon {
i {
width: 60px;
height: 60px;
line-height: 60px;
display: inline-block;
background: $color-theme;
color: $color-white;
text-align: center;
font-size: 32px;
border-radius: 10px;
}
}

.text {
background: $color-secondary;
border-radius: 10px;
padding: 15px 20px;
position: relative;
top: -35px;
left: 20px;
z-index: -1;
padding-left: 55px;
margin-bottom: -35px;
}
}

*/
.swiper-button-prev {
    color: #fe2775;
    left: 30px;
}

.swiper-button-prev::after {
    font-size: 26px;
    font-weight: bold;
}

.swiper-button-next {
    color: #fe2775;
    right: 30px;
}

.swiper-button-next::after {
    font-size: 26px;
    font-weight: bold;
}

.swiper-offset .swiper-slide {
    width: 250px;
    height: 100%;
}

.swiper-testimonial {
    padding-bottom: 30px;
}

.swiper-testimonial.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 5px;
}

.testi-message {
    text-align: center;
    background: #fe2775;
    color: #fff;
    padding: 15px;
    border-radius: 18px;
    margin-bottom: 20px;
}

.testi-img {
    text-align: center;
}

.testi-img img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid #fe2775;
    margin: auto;
    margin-bottom: 10px;
}

/*pagination*/
.page-item {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
}

.page-item .page-link {
    height: 100%;
    padding: 0;
    line-height: 40px;
    border-radius: 4px;
    display: block;
    border: 0;
    background: #ffeff5;
    color: #fe2775;
    font-size: 16px;
}

.page-item.active .page-link {
    background: #fe2775;
}

.page-item .icon-nav i {
    font-size: 18px;
}

.pagination-nav .icon-nav {
    background: #fff;
}

.pagination-nav .icon-nav i {
    font-size: 24px;
}

.pagination-outline .page-link {
    border: 1px solid #ddd;
    background: #fff;
}

.pagination-outline .page-item.active .page-link {
    border-color: #fe2775;
}

.pagination-style .page-item-nav {
    width: auto;
}

.pagination-style .page-item-nav .btn-nav {
    width: 80px;
    background: #fe2775;
    color: #fff;
    border-color: #fe2775;
}

.pagination-style .page-link {
    border: 1px solid #ddd;
    background: #fff;
}

.pagination-style .page-item.active .page-link {
    border-color: #fe2775;
}

.pagination-cicrle .page-link {
    border-radius: 50%;
}

/*popup or modal*/
.modal-bottom {
    display: flex;
    align-items: center;
    min-height: calc(100% - 16px);
    align-items: end;
}

.modal-content {
    border: 0;
    border-radius: 18px;
}

.modal-content .text-small {
    margin-top: 5px;
}

.modal-icon-title {
    text-align: center;
    margin-bottom: 30px;
}

.modal-icon-title i {
    font-size: 32px;
    color: #fe2775;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
}

.filter-tag span {
    text-align: center;
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
    line-height: 32px;
    color: #333;
}

.filter-tag span.active {
    background: #fe2775;
    border-color: #fe2775;
    color: #fff;
}

.succes-modal .modal-icon-title i {
    font-size: 95px;
    color: #1ad66c;
}

.notification-modal i {
    color: #fe2775;
    font-size: 36px;
    float: left;
    margin-right: 15px;
}

.notification-modal .text {
    overflow: hidden;
    position: relative;
    top: 15px;
}

.notification-modal .text p {
    color: #333;
}

.notification-modal .text p span {
    font-weight: 500;
}

.calling-modal img {
    width: 80px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.calling-action {
    text-align: center;
}

.calling-action ul li {
    display: inline-block;
    margin: 0 10px;
}

.calling-action ul li i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #eee;
    border-radius: 50%;
    font-size: 18px;
    vertical-align: middle;
}

.incoming-modal .modal-icon-title {
    padding: 20px;
}

.incoming-modal .img {
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
}

.incoming-modal .img img {
    width: 80px;
    border-radius: 50%;
    margin: auto;
}

.incoming-modal .img span {
    background: #fe2775;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    animation: myscale 1.3s infinite;
}

.incoming-modal .img::before {
    content: '';
    position: absolute;
    top: 24%;
    transform: translateY(-50%);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    margin: 0 auto;
    background: rgba(254, 39, 117, 0.52);
    animation: myscale 1.3s infinite;
}

@keyframes myscale {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }

}

/*tabs or nav tabs*/
.nav-item {
    width: 33.333333%;
}

.nav-link {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: #888;
    height: 100%;
}

.nav-link.active {
    border-bottom: 3px solid #fe2775;
    color: #fe2775;
}

.nav-default {
    border-bottom: 1px solid #ddd;
}

.nav-separate {
    padding: 0 10px;
}

.nav-separate .nav-item {
    margin: 0 5px;
    width: 30%;
}

.nav-separate .nav-link {
    border-radius: 4px;
    background: #ffeff5;
}

.nav-separate .nav-link.active {
    background: #fe2775;
    color: #fff;
    border: 0;
}

.nav-outline {
    margin: 0 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 4px;
}

.nav-outline .nav-link {
    color: #fe2775;
}

.nav-outline .nav-link.active {
    background: #fe2775;
    color: #fff;
    border: 0;
}

.nav-outline .nav-item:nth-child(even) .nav-link {
    border: 1px solid #ddd;
    border-width: 0 1px 0 1px;
}

.nav-two-column .nav-item .nav-link {
    border: 0 !important;
}

.nav-outline-icon .nav-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-outline-icon .nav-link i {
    font-size: 22px;
    line-height: normal;
}

.tab-label-active .nav-link .nav-label {
    display: none;
}

.tab-label-active .nav-link.active i {
    margin-right: 5px;
    font-size: 18px;
}

.tab-label-active .nav-link.active .nav-label {
    display: inherit;
}

.nav-tab-icon .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.nav-tab-icon .nav-link.active {
    border-bottom: 0;
}

/*timeline*/
.timeline-item {
    display: flex;
    padding-bottom: 20px;
    overflow: hidden;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-item:last-child .timeline-divider::after {
    display: none;
}

.timeline-date {
    flex-shrink: 0;
    width: 50px;
}

.timeline-divider {
    position: relative;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 15px;
    border: 2px solid #fe2775;
}

.timeline-divider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100vh;
    background: #fe2775;
    z-index: -1;
    transform: translateX(-50%);
}

.timeline-content {
    width: 100%;
}

/*----- PAGES -----*/

/*about us*/
.header-about {
    text-align: center;
}

.header-about img {
    width: 80px;
    border-radius: 26px;
    margin: auto;
}

.about-title {
    margin: 15px 0;
}

/*counter*/
.counter .content {
    border-radius: 18px;
    padding: 15px;
}

.counter .content h3 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
}

/*faq*/
.title-faq {
    text-align: center;
}

/*forum*/
.forum-user-img img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.forum-category {
    width: auto;
    background: #fe2775;
    display: inline-block;
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.forum-action ul li {
    display: inline-block;
    margin-right: 20px;
    color: #888;
    font-size: 12px;
}

.forum-action ul li i {
    margin-right: 7px;
}

/*gallery*/
.gallery-category span {
    background: #8998ff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 15px;
}

.img-caption {
    padding: 15px 0;
    position: relative;
}

.gallery-action .dropdown {
    top: 5px;
}

.gallery-action .nav {
    justify-content: end;
}

.gallery-action .nav .nav-item {
    width: 25% !important;
    flex: inherit;
}

/*dropdown*/
.dropdown-toggle {
    font-size: 16px;
    font-weight: 500;
}

.dropdown-toggle::after {
    display: inline-block;
    content: '';
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
    margin-left: 5px;
    vertical-align: middle;
}

/*maintenance*/
.maintenance {
    text-align: center;
}

.maintenance img {
    width: calc(100% - 20%);
    margin: auto;
    margin-bottom: 30px;
}

/*profile*/
.header-profile {
    text-align: center;
}

.header-profile img {
    width: 80px;
    border-radius: 18px;
    margin: auto;
}

.profile-title {
    margin: 15px 0;
}

.statistic {
    text-align: center;
}

/*reset password*/
.icon-title {
    text-align: center;
}

.icon-title i {
    font-size: 80px;
    color: #fe2775;
    margin-bottom: 15px;
}

/*search bar*/
.search-category .content {
    text-align: center;
    background: #ffeff5;
    border-radius: 4px;
    padding: 6px 0;
}

.search-category i {
    margin-right: 4px;
}

.search-tag ul li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
}

.search-tag ul li:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.search-tag span {
    text-align: center;
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: #333;
    padding: 5px 15px;
}

.search-tag span.active {
    background: #fe2775;
    border-color: #fe2775;
    color: #fff;
}

/*sign in & sign up*/
.link-sign-up a {
    font-weight: 500;
}

.sign-with ul {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sign-with ul li {
    display: inline-block;
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
}

.sign-with ul li:nth-child(2) {
    border-left: 1px solid #ddd;
}

.sign-with ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    padding: 8px 15px;
}

.sign-with ul li a i {
    font-size: 22px;
    vertical-align: middle;
}

/* settings */
.setting-avatar img {
    width: 80px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.btn-upload-picture {
    text-align: center;
}

.btn-upload-picture label {
    cursor: pointer;
}

.btn-upload-picture input {
    display: none;
}

/* privacy */
.privacy-list .content {
    display: flex;
}

.privacy-list .content i {
    margin-right: 15px;
    display: inline-block;
    color: #8998ff;
}

/*----- APPS -----*/

/* chat */
.chat-item {
    background: #f5f5f5;
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
    position: relative;
    margin-left: 15px;
}

.chat-item-emoji {
    width: 20%;
    text-align: center;
}

.chat-date span {
    margin-bottom: 5px;
    display: inline-block;
    color: #aaa;
}

.triangle {
    position: absolute;
    top: 0;
    left: -14px;
    width: 16px;
    height: 16px;
    border-top: solid 8px #f5f5f5;
    border-right: solid 8px #f5f5f5;
    border-left: solid 8px transparent;
    border-bottom: solid 8px transparent;
}

.triangle.angle-right {
    border-top-color: #eae5fb;
    border-left: solid 8px #eae5fb;
    border-right: solid 8px transparent;
    left: auto;
    right: -14px;
}

.chat-info-seen i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fe2775;
}

.chat-info-seen.unseen i {
    color: #888;
}

.chat-emoji i {
    font-size: 34px;
    color: #fe2775;
}

.chat-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    padding-top: 4px;
    background: #fff;
}

/* coming soon */
.coming-soon-timer .content {
    padding: 10px;
    border-radius: 18px;
}

.icon-rocket i {
    font-size: 150px;
    color: #fe2775;
    transform: rotate(-45deg);
    display: inline-block;
}

/* contact us */
.contact-info .content {
    display: flex;
}

.contact-info .content i {
    font-size: 22px;
    color: #fe2775;
    margin-right: 10px;
    display: flex;
}

.map {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 18px;
}